@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+KR:wght@300&display=swap');

body {height: 100%;font-family:'Noto Sans', sans-serif;}
section {height: 600px;max-width: 1240px;margin-left: auto;margin-right: auto;}
a {text-decoration: none;color: black; font-size: 15px;color: black;cursor: pointer;}

/*about-1*/
.content {display: flex;flex-direction: row;}
.col-img {padding-top: 70px;padding-left: 78px;}
.myimg { z-index: 1; width: 295px;height: 306px;border-radius: 50%;position: relative;top: 29px;left: -1px;border-radius: 50%;}
.content-low {padding-top: 116px;margin-left: 100px;display: flex;flex-direction: column;}
.content-low h3 {font-size: 25px;font-weight: initial;}
.content-low strong {color: #ed3770;font-weight: bold; font-size: 17px; line-height: 4;}
.content-low p {line-height: 2; font-size: 16px; }
.content-low p > .text {color: #ed3770;font-weight: bolder;}

header {padding-top: 19px;}
.Header .inner {border-bottom:2.5px solid #d7d8db; width: 1230px;display: flex;justify-content: space-between;align-items: center;position: relative;height: 100%;margin: 0 auto;}
.inner .logo {width: 132px;font-size: 28px;cursor: pointer;font-family: 'Outfit';font-weight: 600;}
.inner .logo a:hover {color: #ed3770;}
.logo-color-1 {color:#4285f4;}
.logo-color-2 {color:#ea4335;}
.logo-color-3 {color:#fbbc05;}
.logo-color-4 {color:#4285f4;}
.logo-color-5 {color: #34a853;}
.logo-color-6 {color:#ea4335;}
.logo-color-7 {color:#fbbc05;}
.logo-color-8 {color:#4285f4;}
.logo-color-9 {color: #34a853;}
.logostick {margin-right: -5px;font-size: 24px;}

/*gnb*/
.gnb {padding-right: 35px;}
.gnb_wrap {display: flex;}
.gnb_wrap > a {font-size: 17px; color: #555;margin-left: 12px;font-family: 'Outfit';}
.gnb_wrap > a:hover {color: #ed3770;}
.gnb>li{position: relative;width: 100%;padding: 18px 0;}
.gnb>.gnb_wrap>.sub-menu>li  button{display: block;padding-left: 15px;cursor: pointer;border: none;font-family: 'Outfit';
      outline: none;background: transparent;font-size: 17px;color: #555;} 
.gnb>.gnb_wrap>.sub-menu>li  button:hover {color: #ed3770;}
.gnb>.gnb_wrap> .sub-menu>li  i{position: absolute;right: 20px;top: 11px;}
.gnb>.gnb_wrap> .sub-menu>li>ul{display: none;margin-top: 9px;z-index: 1;position: absolute;width: 89px;padding: 10px;border-radius: 10%;background-color: #FFF5F5;font-size: 14px;font-weight: 500;}
.gnb>.gnb_wrap>.sub-menu>li>ul.on{display: block;}
.gnb>.gnb_wrap>.sub-menu>li>ul>li{line-height: 2;display: -webkit-inline-box;padding-left: 12px;color: #555;}
.gnb>.gnb_wrap>.sub-menu>li>ul>li>a {display: inline-block;position: relative;font-family: 'Outfit';}
.gnb>.gnb_wrap>.sub-menu>li>ul>li>a::after{content:"";position: absolute;left: 1%;bottom: 0;width: 0;height: 3px;background-color: #ed3770;transition: all .5s;}
.gnb>.gnb_wrap>.sub-menu>li>ul>li>a:hover::after {width: 100%;}

/*box*/
.box {display: flex;justify-content: center;align-items: center; width: 600px; height: 540px;border-radius: 5px; margin: 0 auto;
  box-shadow: 0 2px 30px rgba(black, .2);background: lighten(#f0f4c3, 10%);position: relative;    top: -476px;
  left: -193px;overflow: hidden;transform: translate3d(0, 0, 0);}
.wave {opacity: .4;position: absolute;top: 3%;left:173px;background: #0af;
  width: 336px;height: 331px;margin-top: 179px;transform-origin: 50% 48%;border-radius: 43%;animation: drift 3000ms infinite linear;}
.wave.-three {animation: drift 5000ms infinite linear;}
.wave.-two {animation: drift 7000ms infinite linear;opacity: .1;background: yellow;}
.box:after {content: '';display: block;left: 0;top: 0;width: 100%;
  height: 100%;background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));z-index: 11;transform: translate3d(0, 0, 0);}
  @keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}


/*about-2*/
.content-1 {display: flex;-webkit-flex-flow: row wrap;-webkit-justify-content: space-between;-webkit-box-pack: justify;position: relative; top: 30px; left: 84px;line-height: 2;}
.content-1 > p {display: flex;flex-direction: column;padding-right: 123px;font-size: 18px;}
.content-1 > p > i {margin-right: 12px;}
.content-1 > p > .con {margin-top: -27px;margin-left: 29px;margin-bottom: 31px;}
.content-1 > p > .txt {font-weight: bold;}
.content-1 > p > .num {font-size: 1rem;}
.content-1 > p > .con-1 {margin-top: -27px;margin-left: 29px;}
.content-1 > p > a > .num-1 { font-size: 1rem;padding-left: 30px;}

