@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');


body {height: 100%;font-family:'Noto Sans', sans-serif; }
a {text-decoration: none;color: black;}

/*로딩페이지*/
.loading-logo{font-size: 60px;position: relative;top: -235px;}
.loadingstick {margin-right: -17px;}
.loadingimg {position: absolute;top: -67px;left: 61px;}
.loading-page {background: #fff;width: 100vw;height: 100vh;display: flex;justify-content: center;align-items: center;}
.loading-page .counter {text-align: center;}
.loading-page .counter p {font-size: 40px;font-weight: 100;color: #f60d54;}
.loading-page .counter h1 {color: black;font-family: 'Outfit';font-size: 50px;margin-top: -10px;}
.loading-page .counter hr {width: 100%;background: #E4E4E4;animation: 3s linear loading;transform-origin: 0%;animation-fill-mode:forwards;}

@keyframes loading {
0% {
  transform: scaleX(0);
}
100% {
  transform: scaleX(100%);
}
}
.loading-page .counter {position: relative;width: 250px;}
.loading-page .counter h1.abs {position: absolute;top: 0;width: 100%;}
.loading-page .counter .color {width: 0px;overflow: hidden;color: #f60d54;}

/*nav*/
.nav_bar {border-bottom:2.5px solid#d7d8db;width: 1230px;margin: 0 auto;display: flex;justify-content: space-between;box-sizing: border-box;padding: 22px 0px 0;padding-bottom: 9px;}
.logo {width: 100px; font-size: 30px;font-weight: 600; cursor: pointer;transition: 0.3s;font-family: 'Outfit', sans-serif;}
.logo2 {font-size: 75px;margin-left: -38px;font-family: 'Outfit';font-weight: 600;}
.logo-color-1 {color:#4285f4;}
.logo-color-2 {color:#ea4335;}
.logo-color-3 {color:#fbbc05;}
.logo-color-4 {color:#4285f4;}
.logo-color-5 {color: #34a853;}
.logo-color-6 {color:#ea4335;}
.logo-color-7 {color:#fbbc05;}
.logostick {margin-right: -5px;}
.logostick2 {margin-right: -16px;}
.nav_sub ul {position: relative;right: 13px;display: flex;flex-direction: row;}
.nav_sub ul li > a {padding-right: 23px;font-size: 27px;}
.nav_sub ul li {display: flex;}
.nav_sub ul li:nth-child(2) {display: flex; flex-direction: column;}

/*nav-menu*/
.nav_menu {display: flex;flex-direction: row;height: 0;padding-right: 19px;}
.nav-menu1 {position: relative;top: 17px; color: #555;}
.nav-menu1:hover {color: #ed3770;}

.sub-menu > a:hover {color: #ed3770;}
.nav_menu>.sub-menu>li{ position: relative;width: 100%;padding: 18px 0;}
.nav_menu>.sub-menu>li  button{display: block;padding-left: 26px;cursor: pointer;border: none;outline: none;background: transparent;font-size: 17px;color: #555;} 
.nav_menu>.sub-menu>li  button:hover {color: #ed3770;}
.nav_menu> .sub-menu>li  i{position: absolute;right: -16px;top: 20px;}
.nav_menu> .sub-menu>li>ul{display: none;position: absolute;margin-top: 9px;width: 89px;padding: 10px;border-radius: 10%;background-color: #FFF5F5;font-size: 14px;font-weight: 500;}
.nav_menu > .sub-menu>li>ul.on{display: block;}
.nav_menu > .sub-menu>li>ul>li{line-height:2;display: -webkit-inline-box;padding-left: 14px;}
.nav_menu > .sub-menu>li>ul>li>a {display: inline-block;position: relative;font-family: 'Outfit';}
.nav_menu > .sub-menu>li>ul>li>a::after{content:"";position: absolute;left: 1%;bottom: 0;width: 0;height: 3px;background-color: #ed3770;transition: all .5s;}
.nav_menu > .sub-menu>li>ul>li>a:hover::after {width: 100%;}

/*header*/
header {overflow: hidden;top: 0; margin: 0; width: 100%;display: flex;flex-direction: row;justify-content: center;text-align: center;}
.header_container {position: relative; width: 560px;height: 380px; padding-top: 23px;padding-bottom: 100px;}
.header_container p > i {margin-right: 12px;}

/*검색창*/
.hellotxt {z-index: 1; position: relative;top: 43px;left: 3px;display: flex;align-items: center;width: 100%;height: 50px;border: 1px solid #d7d8db;border-radius: 25px;box-shadow: inset 0px 1px 5px 0 rgb(0 0 0 / 10%);}
.hello {padding: 32px;animation:cursor 0.2s ease infinite;}
.ico {font-size: 23px;color: lightgray;margin-left: 24px;}
.ico-1 {position: absolute;right: 42px; font-size: 24px;color: lightgray;}

/**/
.contect_menu {position: relative;top: 99px;left: 42px;height: 100px; display: flex;flex-wrap: wrap;justify-content: center;}
.skill{display: grid;grid-template-columns: repeat(8, 1fr);gap: 11px;}
.skilltext {display: flex;position: relative;left: -69px;flex-direction: column;justify-content: center;padding-top: 44px;}

/*mouse*/
#mouse-scroll {
  position: fixed;
  margin: auto;
  left: 50%;
  bottom: 30px;
  -webkit-transform: translateX(-50%);
  z-index: 9999;
}
#mouse-scroll .mouse {
  height: 30px;
  width: 17px;
  border-radius: 10px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  border: 2px solid darkgray;
  top: 170px;
}
#mouse-scroll .mouse-in {
  height: 8px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background:darkgray;
  position: relative;
  -webkit-animation: animated-mouse 1.2s ease infinite;
}

@-webkit-keyframes animated-mouse {
  0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
  }
  100% {
       opacity: 0;
      -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
      transform: translateY(6px);
  }
}
@keyframes mouse-scroll {
  0% {
      opacity: 0;
  }
  50% {
      opacity: 0.5;
  }
  100% {
      opacity: 1;
  }
}


/*container*/
.container {margin-left: auto;margin-right: auto;position: relative;}
.container.large {width: 1300px;}
.section {display: flex; flex-wrap: wrap; clear: both;padding: 0;margin: 0;border-bottom: 2.5px solid #d7d8db;}
.col:first-child {margin-left: 0;}
.col-item {width: 47%;margin-left: 63px;}
/*.portfolio-h2 {width: 263px;padding: 5px;border: 1px solid #d7d8db;border-radius: 25px;box-shadow: inset 0px 1px 5px 0 rgb(0 0 0 / 10%);}*/

/*img-container*/
.portfolio-items .img-container {opacity: 0; transform: translateY(50px); position: relative;display: flex; width: 100%;margin-bottom: 102px;box-sizing: border-box; border: 0 solid white;border-radius: 22px;overflow: hidden;line-height: 1;transition: all 0.3s ease-in-out;}
.portfolio-items .img-container:first-child.on{   opacity: 0;
  transition: opacity 1s linear 0.3s;}
.portfolio-items .img-container:nth-child(4).on{   opacity: 0;
  transition: opacity 1s linear 0.3s;}
.portfolio-items .img-container:nth-child(2).on{   opacity: 0;
  transition: opacity 1s linear 0.3s;}
.portfolio-items .img-container:nth-child(5).on{   opacity: 0;
  transition: opacity 1s linear 0.3s;}
.portfolio-items .img-container:nth-child(3).on{   opacity: 0;
  transition: opacity 1s linear 0.3s;}
.portfolio-items .img-container:nth-child(6).on{   opacity: 0;
  transition: opacity 1s linear 0.3s;}

.portfolio-items .img-container img {width: 100%; height: auto; margin: 0; padding: 0;transform: scale(1); transition: all 0.3s ease-in-out;}
.portfolio-items #work-description {background: rgba(77, 77, 77, .9); opacity: 0;padding: 0 80px; text-align: center; position: absolute;top: 0;bottom: 0;right: 0;left: 0;margin: auto;display: flex;
  justify-content: center; align-items: center; flex-direction: column;max-height: 100%;transition: all 0.3s ease-in-out;}
.portfolio-items #work-description:hover {transition: all 0.7s; opacity: 1;}

/*transition -> h3,p 설정*/
.portfolio-items #work-description h3 {position: relative;top: -48px;color:#FEF5DF;font-size: 21px; margin: 0;padding: 0;transform: translateY(40px);transition: all 0.7s;}
.portfolio-items #work-description h3:hover {transition-delay: 0.4s;}
.portfolio-items #work-description p {font-size: 20px;color:#FEF5DF; line-height: 2;}
/*.img-container > img {width: 500px;height: 400px;}*/

/*button*/
.portfolio-items #work-description .more-btn {position: relative; top: px; }
.portfolio-items #work-description button {position: absolute;bottom: -106px;
  left: -50px; outline: none; text-decoration: none;border-radius: 50px;
  display: flex;justify-content: center; align-items: center;cursor: pointer;text-transform: uppercase;height: 39px;
  width: 101px;opacity: 1;background-color: #ffffff;border: 1px solid rgba(22, 76, 167, 0.6);}
.portfolio-items #work-description button > span { color: rgba(22, 76, 167, 1);font-size: 12px;font-weight: 500;letter-spacing: 0.7px;}
.portfolio-items #work-description button > span:hover { animation: rotate 0.7s ease-in-out both;}
  @keyframes rotate {
  0% {
      transform: rotate(0deg) translate3d(0, 0, 0)}
  25%{
      transform: rotate(3deg) translate3d(0, 0, 0)}
  50%{
      transform: rotate(-3deg) translate3d(0, 0, 0)}
  75%{
      transform: rotate(1deg) translate3d(0, 0, 0)}
  100%{
      transform: rotate(0deg) translate3d(0, 0, 0)}
  }

/*SKILLS*/
.skill-menu {width: 1230px;margin: 0 auto;padding-top: 70px;}
.skill-menu h3 {font-size: 20px;padding-bottom: 45px;}
.skill-grid {display: grid;grid-template-columns: repeat(6, 1fr);gap: 11px;}
.skill-col {width: 184px;height: 175px; background-color: #b0b0b022;border-radius: 10px;
  cursor: pointer;display: flex;flex-direction: column;justify-content: center; align-items: center;gap: 12px;}
.skill-col:hover {cursor:pointer; transform:scale(1.1); transition: transform .35s;}
.skill-col > div:nth-child(3) {color: dimgray;padding-left: 15px;padding-right: 16px;}
.skill2 {height: 150px;}

.Available {border-bottom: 2px solid #d7d8db;padding-bottom: 50px;}

/*aboutme*/
.aboutme{width: 1230px;margin: 0 auto;padding-top: 70px;}
.aboutme h3 {font-size: 20px;padding-bottom: 45px;}
.content {display: flex;flex-direction: row;}
.col-img {padding-top: 70px;padding-left: 78px;}
.myimg { z-index: 1; width: 295px;height: 306px;border-radius: 50%;position: relative;top: 29px;left: -45px;border-radius: 50%;}
.content-low {padding-top: 116px;margin-left: 82px;display: flex;flex-direction: column;}
.content-low h3 {font-size: 23px;font-weight: initial;}
.content-low strong {color: #ed3770;font-weight: bold; font-size: 17px; line-height: 4;}
.content-low p {line-height: 2; font-size: 16px; }
.content-low p > .text {color: #ed3770;font-weight: bolder;}

/*box
.box {display: flex;justify-content: center;align-items: center; width: 600px; height: 540px;border-radius: 5px; margin: 0 auto;
  box-shadow: 0 2px 30px rgba(black, .2);background: lighten(#f0f4c3, 10%);position: relative;    top: -476px;
  left: -193px;overflow: hidden;transform: translate3d(0, 0, 0);}
.wave {opacity: .4;position: absolute;top: 3%;left:173px;background: #0af;
  width: 336px;height: 331px;margin-top: 179px;transform-origin: 50% 48%;border-radius: 43%;animation: drift 3000ms infinite linear;}
.wave.-three {animation: drift 5000ms infinite linear;}
.wave.-two {animation: drift 7000ms infinite linear;opacity: .1;background: yellow;}
.box:after {content: '';display: block;left: 0;top: 0;width: 100%;
  height: 100%;background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));z-index: 11;transform: translate3d(0, 0, 0);}
  @keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}*/

/*about-2*/
.about-2 {height: 135px;padding-top: 122px;}
.content-1 {display: flex;-webkit-flex-flow: row wrap;-webkit-justify-content: space-between;-webkit-box-pack: justify;position: relative; top: 30px; left: 84px;line-height: 2;}
.content-1 > p {display: flex;flex-direction: column;padding-right: 123px;font-size: 18px;}
.content-1 > p > i {margin-right: 12px;}
.content-1 > p > .con {margin-top: -27px;margin-left: 29px;margin-bottom: 31px;}
.content-1 > p > .txt {font-weight: bold;}
.content-1 > p > .num {font-size: 1rem;}
.content-1 > p > .con-1 {margin-top: -27px;margin-left: 29px;}
.content-1 > p > a > .num-1 { font-size: 1rem;padding-left: 30px;}

/*footer*/
footer{height: 150px;width: 1230px;}
.top_btn{position: absolute;right: 67px;display:block;padding: 10px 15px;border-radius: 23px; background: #ccc;transition: all 0.3s linear 0s;}
.top_btn i{font-size: 18px;color: #fff;}
.top_btn span{display: inline-block;text-indent: -9999px;overflow: hidden;}
.top_btn:hover{background-color: #ddd;}        
