@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+KR:wght@300&display=swap');


body{font-family: 'Noto Sans', sans-serif;overflow-x: hidden;}
a {text-decoration: none; font-style: none;color: black;}
a {text-decoration: none; font-style: none;}

/*header*/
.Header {padding-top: 28px;width: 100%;height: 37px;}
.Header .inner {border-bottom:2.5px solid #d7d8db; width: 1230px;display: flex;justify-content: space-between;align-items: center;position: relative;height: 100%;margin: 0 auto;}
.inner .logo {width: 132px;font-size: 28px;cursor: pointer;font-family: 'Outfit';font-weight: 600;}
.inner .logo a:hover {color: #ed3770;}
.logo-color-1 {color:#4285f4;}
.logo-color-2 {color:#ea4335;}
.logo-color-3 {color:#fbbc05;}
.logo-color-4 {color:#4285f4;}
.logo-color-5 {color: #34a853;}
.logo-color-6 {color:#ea4335;}
.logo-color-7 {color:#fbbc05;}
.logo-color-8 {color:#4285f4;}
.logo-color-9 {color: #34a853;}
.logostick {margin-right: -9px;}

/*gnb*/
.gnb {padding-right: 35px;}
.gnb_wrap {display: flex;}
.gnb_wrap > a {font-size: 17px; color: #555;margin-left: 12px;font-family: 'Outfit';}
.gnb_wrap > a:hover {color: #ed3770;}
.gnb>li{position: relative;width: 100%;padding: 18px 0;}
.gnb>.gnb_wrap>.sub-menu>li  button{display: block;padding-left: 15px;cursor: pointer;border: none;font-family: 'Outfit';
      outline: none;background: transparent;font-size: 17px;color: #555;} 
.gnb>.gnb_wrap>.sub-menu>li  button:hover {color: #ed3770;}
.gnb>.gnb_wrap> .sub-menu>li  i{position: absolute;right: 20px;top: 11px;}
.gnb>.gnb_wrap> .sub-menu>li>ul{display: none;margin-top: 9px;z-index: 1;position: absolute;width: 89px;padding: 10px;border-radius: 10%;background-color: #FFF5F5;font-size: 14px;font-weight: 500;}
.gnb>.gnb_wrap>.sub-menu>li>ul.on{display: block;}
.gnb>.gnb_wrap>.sub-menu>li>ul>li{line-height: 2;display: -webkit-inline-box;padding-left: 12px;color: #555;}
.gnb>.gnb_wrap>.sub-menu>li>ul>li>a:hover {color: #ed3770;font-family: 'Outfit';text-decoration: underline;}
  
/*col-1*/
.col-1 {height: 500px;max-width: 1200px;margin-left: auto;margin-right: auto;}
.col-header{position: relative; display: flex;flex-direction: column; height: 300px;width: 530px;}
.col-header > span:first-child {padding-left: 116px; padding-top: 118px; font-size: 20px; font-weight: 600; color: #777474;}
.col-header > span:nth-child(2) {padding-left: 185px;padding-top:34px;font-size: 32px;}
.btn-group {padding-top: 60px;padding-left: 175px;}
.btn-group > a > .btn {position: relative; border: none;display: inline-block;margin-right: 29px;padding: 12px 23px;border-radius: 15px;font-family: "paybooc-Light", sans-serif;
  /*box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);*/text-decoration: none;font-weight: 600;transition: 0.25s;background-color: aliceblue;color: #1e6b7b;}
.btn-group > a > .btn:hover {cursor: pointer;position: relative;padding: 15px 30px;border-radius: 15px;font-family: "paybooc-Light", sans-serif;
  color: #1e6b7b;background: aliceblue;box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);text-decoration: none;font-weight: 600;transition: 0.25s;border: 3px solid aliceblue;color: #1e6b7b;} 

/*mockup*/
@keyframes mockup_ani {
  0% {background-position-y: 0;}
  100% {background-position-y: 100%;}
}
.col-mockup {position: relative;width: 391px;left: -65px;top: -28px;}
.mockup {position: absolute;top: -235px;left: 192%;}
.mockup video{position: absolute;top: 6%;left: 50%;border-radius: 20px; width: 46%;object-fit: fill;height: 88%;background-size: cover;background-position: 0% 0%;transform: translate(-50%, 0);animation: mockup_ani 15s linear 0s infinite alternate;}
.mockupimac {width:390px;height: 398px;}

/*mockup2*/
.mockup2 {position: absolute;top: 108px;left: 22%;}
.mockup2 video{position: absolute;top: 6%;left: 50%;border-radius: 20px;width: 46%;object-fit: fill;height: 88%;background-size: cover; background-position: 0% 0%;transform: translate(-50%, 0);animation: mockup_ani 15s linear 0s infinite alternate;}

/*article*/
.section-article {background-color: #FFF5F5;}
.section {max-width: 62rem;padding: 5.5rem 1rem;margin: 0 auto;}
.section-menu {position: relative;display: flex;flex-wrap: wrap;height: 550px;padding: 3rem;margin: 0 auto 2rem;border-radius: 1rem;background-color: #fff;box-shadow: 1rem 1rem 1rem 0 rgb(68 68 68 / 20%);}
.section-col {overflow: hidden;/*width: 50%;*/margin-right: 3rem;}
.section-col > .col-img { display: block;width:100%;height:600px; margin: 0 auto;}
.section-col > .col-img > img {width: 430px;height: 300px;}
.section-col-1 {width: calc(58% - 3rem);margin-left: 5px;}
.section-col-1 > .overview {height: 52px;margin-left: 20px;/* padding-bottom: 11px; */padding-top: -30px;border-bottom: 1px solid #d7d8db;}
.section-col-1 > .overview > p {line-height: 30px;font-size: 16px;} 
.section-col-1 > .overview > p > .text {box-shadow: inset 0 -4px 0 #ddd; font-weight: 600;}
.section-col-1 > .overview > p::before {content: "✔";display: inline; padding-right: 0.5rem;}
.view-header {margin-top: 23px;/* padding-top: 22px; */width: 462px;height: 440px;}
.view-header > tbody > tr > th {/* border-bottom: 1px solid #e2e2e4;*/padding: 3px 25px;font-size: 15px;color: #222222;font-weight: 600;text-align: left;box-sizing: border-box;}
.view-header > tbody > tr > th::before {content: "✔";display: inline; padding-right: 0.5rem;}
.view-header > tbody > tr > td {/*border-bottom: 1px solid #e2e2e4;*/font-size: 14px;text-align: left;padding: 12px;box-sizing: border-box;line-height: 22px;}
.view-header > tbody > tr > td > li >.text {box-shadow: inset 0 -4px 0 #ddd;color: initial;}